

    <section class="probootstrap-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              {{ .Site.Params.FooterLeft | markdownify }}
            </div>
          </div>
          <div class="col-md-6 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              {{ .Site.Params.FooterRight | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="copyright-text">&copy; 2017 <a href="https://probootstrap.com/">Felthorpe Airfield</a>. All Rights Reserved. <br>Website by <a href="https://studiole.uk">StudioLE</a>. Theme adapted from <a href="https://probootstrap.com/resto-free-restaurant-responsive-bootstrap-website-template/">Resto by ProBootstrap</a>.</p>
          </div>
          <div class="col-md-4">
            <ul class="probootstrap-footer-social right">
              <li><a href="https://twitter.com/FelthorpeAir"><i class="icon-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/FelthorpeAirfield/"><i class="icon-facebook"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/scripts.js"></script>
    <script src="/js/custom.js"></script>

  </body>
</html>